.rectangle {
    border-radius: 25px;
    background: white;
    padding: 8%;
    width: 3%;
    height: 15%;
    box-shadow: 5px 10px rgb(53, 53, 53);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

* {
    background: rgb(32, 32, 32);
    color: white;
}

#alexa {
    background-image: url("../assets/images/5eb1556b74bb7d0004ae61b0.png");
}

#iphone {
    background-image: url("../assets/images/toppng.com-download-draw-a-iphone-x-799x1595.png")
}

.link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-right: 2%;
    font-size: larger;
    text-decoration: none;
}

.text-container h1 {
    color: rgba(225,225,225, .1);
    background-image: url("../assets/images/splotted-background.png");
    -webkit-background-clip: text;
    background-position: bottom;
    background-size: cover;
    font-weight: 900;
    animation: animate 5s linear infinite;
    
}

@keyframes animate {
    0% {
        background-position: bottom;
    }
    1% {
        background-position: top;
    }
}

#see-projects-section {
    background-color: black;
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 600px){
    #see-projects-section{
        flex-direction: column;
        width: 100%;
        height: 30%;
    }
    #see-projects-section img{
        height: 70%;
        width: 100%;
    }
    .text-container {
        font-size: 70%;
    }
    #button {
        font-size: 60%;
    }

    .content_img iframe{ 
        float: none;
        width: 100%;
        margin-bottom: 6%;
    }
    .content_img p{
        margin-top: 10%;
        line-height: 200%;
        font-size: 200%;
    }
    .content_img img{
        margin-bottom: 6%;
    }
    #About h1{
        font-size: 250%;
        margin-bottom: 15%;
    }

    #About p{
        font-size: 200%;
    }


}

#Contact {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   
}

.content_img {
    font-family: 'Montserrat', sans-serif;
}

.content_img p{
    line-height: 250%;
 color: white;
}

.content_img iframe{
    float: left;
}

.content_img img{
  float: left;
    width: 60%;
}

#Contact p{
  font-size: large;
}

#About {
    font-family: 'Montserrat', sans-serif;
    text-align: center;



}

#About h1{
    color: yellow;
}
#About h2{
    color: yellow;
}
#About img {
    height: 20%;
    width: 20%;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0px);
    }
}

.avatar {
    overflow: hidden;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
    margin-top: 12%;
}

#social-seciton{
    display: flex;
    flex-direction: row;
}

#social-section img {
    height: 10%;
    width: 10%;
}